@model Fall2024_Assignment3_jtadams5.Models.Movie

@{
    ViewData["Title"] = "Details";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Movies.css" />
}
<div class="bg-details" style="background-image: url(@ViewBag.BackgroundImage);">
    <div class="psuedo-blur">
        <h1>Details for <i><u>@Html.DisplayFor(model => model.Title)</u></i></h1>

        <div class="details">
            <hr />
            <img src="@Html.DisplayFor(model => model.PosterURL)" alt="@Html.DisplayFor(model => model.Title)" class="details-poster">
            <div class="details-layout">
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReleaseYear)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReleaseYear)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PosterURL)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PosterURL)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.imdbURL)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.imdbURL)
                        </dd>
                        <dt class="col-sm-2">
                            Plot Summary
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PlotSummary)
                        </dd>
                    </dl>
                </div>
                <hr />
                <div class="reviews-actors">
                    <div class="fake-tweets">
  
                        <h4><u>Reviews - @ViewBag.Sentiment</u></h4>
                        @foreach (var tweet in ViewBag.FakeTweets)
                        {
                            <div class="fake-tweet">
                                <p>@tweet - Anonymous</p>
                            </div>
                        }
                    </div>
                    <div class="actors">
                        <h4><u>Starring</u></h4>
                        @foreach (var movieActor in Model.MovieActors)
                        {
                            <p>@movieActor.Actor.Name</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    <div class="btn-row">
        <a asp-action="Edit" asp-route-id="@Model?.MovieID" class="a-btn">Edit</a>
        <a asp-action="Index" class="a-btn">Back to List</a>
    </div>
    </div>
</div>