@model IEnumerable<Fall2024_Assignment3_jtadams5.Models.Actor>
@{
    ViewData["Title"] = "Actors Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Movies.css" />
}

@{
    // TODO: ADD HOVER PROPERTY THAT BLURS BACKGROUND AND ADDS DESCRIPTION OF MOVIE
}
<div class="index-container">
    <h2 class="index-title">Actors List</h2>
    <p style="text-align:center">
        <a asp-action="Create" class="btn">Add an Actor</a>
    </p>

    <div class="movie-container">
        @foreach (var movie in Model.OrderBy(o => o.Name))
        {
            <div class="movie-card">
                <img src="@movie.photoURL" alt="@movie.Name Pic" class="movie-poster" />
                <h4>@movie.Name</h4>
                <div class="movie-actions">
                    <a asp-action="Details" asp-route-id="@movie.ActorID" class="btn">Details</a>
                    <a asp-action="Edit" asp-route-id="@movie.ActorID" class="btn">Edit</a>
                    <a asp-action="Delete" asp-route-id="@movie.ActorID" class="btn">Delete</a>
                </div>
            </div>
        }
    </div>
</div>

